body
{
    height: 100%;
    margin: 0;
    padding: 0;
}

.navbar h1
{
    color: white;
}

.navbar 
{
    position: sticky;
    top: 0px;
    background-color: #7a2a0f;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:10px;
    height: 50px;
}

.navbar a
{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

.navbar a:hover
{
    color: red;
    transition: 0.5s;
}

.taps
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    gap:10px;

}


.ProjectsList
{
    margin: auto;
    width: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.selection
{
    display: flex;
    justify-content: center;
    gap: 20px ;
}

.ProjectsList h1,h4{
    margin: 10px;
}

.button1
{
    height: 40px;
    background-color: white;
    text-align: center;
    border: 1px solid #7a2a0f;
    border-radius: 10px;
    width: 100px;
}

.button1:hover
{
    background-color: rgb(216, 172, 137);
    color:white;
    transition: 0.7s;
    cursor: pointer;
}

.clicked
{
    background-color: rgb(216, 172, 137);
    color:white;
}

.ProjectsGrid
{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.project
{
    border: 1px solid black;
    border-radius: 30px;
    padding-top: 20px;
}

.navbar button
{
    background-color: rgb(216, 172, 137);
    width: fit-content;
    padding: 10px;
}

.hide
{
    display: none;
}
