#sec1-h1 {
    width: 200px;
}

#sec1 {
    padding-top: 50px;
    padding-left: 70px;
    padding-bottom: 50px;
    background-image: url('https://images.unsplash.com/photo-1518655048521-f130df041f66?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
    background-size: cover;

}
.rfoldbut{
    background-color: #591c08;
    border-radius: 20px;
    border-style: none;
    height: 40px;
    width: 120px;
    font-size: medium;
    color: rgb(255, 255, 255);
}


.box{
    display: flex;
    gap: 20px;
    flex-direction: column;
}

body
{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.navbar h1
{
    color: white;
}

.navbar 
{
    position: sticky;
    top: 0px;
    background-color: #7a2a0f;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:10px;
    height: 50px;
}

.navbar a
{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

.navbar a:hover
{
    color: red;
    transition: 0.5s;
}

.taps
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    gap:10px;

}


.ProjectsList
{
    margin: auto;
    width: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.selection
{
    display: flex;
    justify-content: center;
    gap: 20px ;
}

.ProjectsList h1,h4{
    margin: 10px;
}

.button1
{
    height: 40px;
    background-color: white;
    text-align: center;
    border: 1px solid #7a2a0f;
    border-radius: 10px;
    width: 100px;
}

.button1:hover
{
    background-color: rgb(216, 172, 137);
    color:white;
    transition: 0.7s;
    cursor: pointer;
}

.clicked
{
    background-color: rgb(216, 172, 137);
    color:white;
}

.ProjectsGrid
{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.project
{
    border: 1px solid black;
    border-radius: 30px;
    padding-top: 20px;
}

.navbar button
{
    background-color: rgb(216, 172, 137);
    width: fit-content;
    padding: 10px;
}

.hide
{
    display: none;
}

.items{
    border-radius: 10px;
    border: 1px solid ;
    width: 300px;
    height: 170px;
    text-align: center;
    padding: 10px;
    background-color: white;
}
#sec3{
    background-image: url('https://images.pexels.com/photos/743986/pexels-photo-743986.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: fit-content;
    margin: auto;
    text-align: center;
    padding: 20px 100px 75px 100px;
}
.hflex{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    box-sizing: border-box;


}
.navbar button{
    width: fit-content;
    padding:10px;
    background-color: rgb(216, 172, 137);
}

.icons{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}

.name{
    font-weight: bold;
    text-align: left;
    margin: 0;
}
.job{
    text-align: left;
    margin-top:0;
}

