#sec1-h1 {
    width: 200px;
}

.sec1 {
    padding-top: 50px;
    padding-left: 70px;
    padding-bottom: 50px;
    background-image: url('https://images.unsplash.com/photo-1518655048521-f130df041f66?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
    background-size: cover;

}
.rfoldbut{
    background-color: #591c08;
    border-radius: 20px;
    border-style: none;
    height: 40px;
    width: 120px;
    font-size: medium;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.rfoldbut:hover
{
    color: rgb(255, 198, 151);
    transition: 0.7s;
}

.box{
    display: flex;
    gap: 20px;
    flex-direction: column;
}

body
{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


.navbar-flex
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:10px;
    height: 50px;
}

.navbar 
{
    position: fixed;
    top: 0px;
    background-color: #7a2a0f00;
    margin: 0;
    padding: 10px;
    width: 100%;
    transition: 0.7s;
}

.navbar-scrolled
{
    background-color: #7a2a0f;
    transition: 0.7s;
}

.navbar a
{
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 600;
}

.brown
{
    color: #7a2a0f;
}

.a-scrolled
{
    color: white;
    transition: 0.7s;
}

.h1-scrolled
{
    color:white;
    transition: 0.7s;
}

.navbar button a
{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
}

.navbar a:hover
{
    cursor: pointer;
    color: rgb(255, 198, 151);
    transition: 0.5s;
}

.taps
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    gap:10px;

}

img
{
    border-radius: 70px;
}

.ProjectsList
{
    margin: auto;
    width: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.selection
{
    display: flex;
    justify-content: center;
    gap: 20px ;
}

.ProjectsList h1,h4{
    margin: 10px;
}

.button1
{
    height: 40px;
    background-color: white;
    text-align: center;
    border: 1px solid #7a2a0f;
    border-radius: 10px;
    width: 100px;
}

.button1:hover
{
    background-color: rgb(255, 223, 197);
    color:white;
    transition: 0.7s;
    cursor: pointer;
}

.clicked
{
    background-color: rgb(216, 172, 137);
    color:white;
}

.ProjectsGrid
{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

@media screen and (max-width: 1000px) {
    .ProjectsGrid {
        /* 8. TODO : Add grid-template-columns property to make it 2 columns only of equal size */
        grid-template-columns: repeat(2, auto);
    }
}

.ProjectsList
{
    padding: 40px;    
}

.project
{
    border: 1px solid rgb(85, 85, 85);
    border-radius: 80px;
    padding-top: 20px;
}

.project:hover
{
    background-color: rgb(231, 208, 188);
    color: white;
    transition: 0.5s;
}

.project img
{
    height: 200px;
    width: 200px;
}

.navbar button
{
    width: fit-content;
    padding: 10px;
    font-size: 0.85em;
}

.hide
{
    display: none;
}

.items{
    border-radius: 10px;
    border: 1px solid ;
    width: 300px;
    height: 170px;
    text-align: center;
    padding: 10px;
    background-color: white;
}
#sec3{
    background-image: url('https://images.pexels.com/photos/743986/pexels-photo-743986.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: fit-content;
    margin: auto;
    text-align: center;
    padding: 20px 100px 75px 100px;
    border-radius: 30px;
}
.hflex{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    box-sizing: border-box;


}

.icons{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}

.name{
    font-weight: bold;
    text-align: left;
    margin: 0;
}
.job{
    text-align: left;
    margin-top:0;
}

#footer{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #dad8d9;
    padding-top: 15px;
    padding-bottom: 5px;
    margin-top: 30px;
}

.taps2{
    display: flex;
    justify-content:space-between;
    width:30%;
    margin-left: 0px;
}
.taps2 a
{
    text-decoration: none;
    color: #5f5f5f;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
}

#footer span{
    color: #5f5f5f;
    font-size: 1.7em;
    font-weight: bolder;
}

#cpy{
    text-align: center;
    background-color: #dad8d9;
    padding-bottom: 10px;
}

#last{
background-color: #dad8d9;
}
.Aicon
{
    width: 80px;
    height: 80px;
    border-radius: 30px;
}

.servicesSection
{
    padding-top: 60px;
    padding-bottom: 60px;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: center;
}

.services
{
    margin: auto;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.service
{
    height: 200px;
    width: 200px;
    border-radius: 30px;
    padding: 20px;
    background-color: rgb(239, 239, 239);
    margin: 20px;
}

.service:hover
{
    background-color: rgb(255, 223, 197);
    transition: 1s;
}

hr{
    font-weight: bold;
    width: 80%;
    text-align: center;
}



